/*CUANDO HAGAMOS LOS ESTIMOS EN CSS TAMBIEN LOS DIVIREMOS POR SECCCIONES*/

/*1. ESTILOS PARA EL ENCABEZADO*/
.incons {
	 background-repeat: no-repeat;
  position: absolute;
    top: 50px;
    right: 150px;
    background-size: 100% auto;
}












/*2. ESTILOS PARA EL MENU HORIZONTAL*/







/*3. ESTILOS PARA EL SLIDER DE IMAGENES*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.theme-mi-slider .nivoSlider{
	position:relative;
}

.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}

.nivo-controlNav{
	display: flex;
	justify-content: center;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #545454;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #1B1B1B;
}

.theme-mi-slider .active{
	background: #1B1B1B;
}

.nivo-directionNav a{
	display: block;
	width: 30px;
	height: 30px;
}

.nivo-directionNav .nivo-prevNav{
	background-image: url(../imagenes/icons/circle-left.png);
	background-size: cover;
	text-indent: -9999px;
	left: 6px;
}

.nivo-directionNav .nivo-nextNav{
	background-image: url(../imagenes/icons/circle-right.png);
	background-size: cover;
	text-indent: -9999px;
	right: 6px;
}

.nivo-html-caption{
	position: absolute;
}

.redondo {
	/* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 180px;
    width: 180px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
  position: absolute;
    top: 300px;
    right: 40px;
    border-radius: 50%;
    background-size: 100% auto;
 
}

.redondo2 {
	/* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 180px;
    width: 180px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
  position: absolute;
    top: 510px;
    right: 40px;
    border-radius: 50%;
    background-size: 100% auto;
 
}

.redondo3 {
	/* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 180px;
    width: 180px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
  position: absolute;
    top: 720px;
    right: 40px;
    border-radius: 50%;
    background-size: 100% auto;
 
}


/*4. ESTILOS PARA LOS TERMINOS Y CONDICIONES*/

