

.termino{
	position: relative;
	top: 5px;
	margin-top: none;
}
.linea-termino{
	position: relative;
	top: -15px;
}

.image{
	position: absolute;
	top: 550px;
	right: 50px;
	margin:1px solid black;
	width: 600px;
}
.img{
	position: relative;
	top:-195px;
	right: -92px;
	width: 600px;
}

.text p{
	text-align: justify;
	font-size: 24px;
}

.text{
	width: 500px;
}
.textonosotros{
	position: relative;
	top: 20px;
	right: -100px;

}
.text2 p{
	text-align: justify;
	font-size: 24px;
}
.text2{
	width: 500px;
}
.texto{
	position: relative;
	top: 95px;
	right: -740px;
}