body{

	margin:0;
}



/* 4. ESTILO COTIZACION*/

.tipo {
	position: absolute;
	top:400px;
	right: 775px;
	font-size: 20px;
	
}
.fecha{
	position: absolute;
	top: 500px;
	right: 775px;
	font-size: 20px;
}

.opciones {
	border:1px solid #b7940d;
	font-size: 25px;
	font-family: Verdana;
 	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 3px;
  	border-radius: 20px;

}
.tcal{
	border:1px solid #b7940d;
	font-size: 25px;
	font-family: Verdana;
 	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 380px;
}

.hour{
	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
}
.hora{
	position: absolute;
	top: 600px;
	right: 775px;
	font-size: 20px;

}

.tiempo{
	position: absolute;
	top: 700px;
	right: 775px;
	font-size: 20px;
}

.permanencia{
	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 405px;
}

.decorar{
	position: absolute;
	top: 800px;
	right: 775px;
	font-size: 20px;
}

.elegir{
	border: 1px solid #b7940d;
	font-size: 20px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
  }

  .reserva{
  	border:1px solid black;
  	margin: 80px;
  	margin-top: 20px;
  	width: 1130px;
  	height: 690px;
  }
  	
  .nombre{
  	position: absolute;
	top:400px;
	right: 200px;
	font-size: 20px;
  }
  .name{
  	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
  }
  .correo{
  	position: absolute;
	top:500px;
	right: 200px;
	font-size: 20px;
  }
  .email{
  	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
  }

  .document{
 	position: absolute;
	top:600px;
	right: 200px;
	font-size: 20px;
 	}

  .cedula{
 	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
 	}

 	.reservar{
 		position: absolute;
 		font-family: Verdana;
 		font-size: 18px;
 		top: 780px;
 		right: 320px;
 		border:1px solid #b7940d;
  		border-radius: 20px;
  		padding: 10px;
  		width: 150px;
 	}
 	.text{
 		position: absolute;
 		top: 300px;
 		right: 790px;
 		font-size: 25px;
 		font-style: oblique;
 		font-weight: bold;
 	}
 	.text2{
 		position: absolute;
 		top: 300px;
 		right: 220px;
 		font-size: 25px;
 		font-style: oblique;
 		font-weight: bold;
 	}

