body{

	margin:0;
}



/* 4. ESTILO COTIZACION*/

.tipo {
	position: absolute;
	top:400px;
	right: 1005px;
	font-size: 20px;
	
}
.fecha{
	position: absolute;
	top: 480px;
	right: 980px;
	font-size: 20px;
}

.opciones {
	position: absolute;
  	top: 430px;
  	right: 755px;
	border:1px solid #b7940d;
	font-size: 20px;
	font-family: Verdana;
 	padding-left: 5px;
  	padding-right: 3px;
  	padding-top: 4px;
  	border-radius: 20px;

}
.tcal{
	position: absolute;
  	top: 510px;
  	right: 755px;
	border:1px solid #b7940d;
	font-size: 25px;
	font-family: Verdana;
 	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 2px;
  	border-radius: 20px;
  	width: 380px;
}

.hour{
	position: absolute;
  	top: 600px;
  	right: 755px;
	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 1px;
  	padding-top: 1px;
  	border-radius: 20px;
  	width: 400px;
}
.hora{
	position: absolute;
	top: 570px;
	right: 945px;
	font-size: 20px;

}

.tiempo{
	position: absolute;
	top: 670px;
	right: 1045px;
	font-size: 20px;
}

.permanencia{
	position: absolute;
  	top: 700px;
  	right: 755px;
	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 405px;
}

.decorar{
	position: absolute;
	top: 770px;
	right: 925px;
	font-size: 20px;
}

.elegir{
	position: absolute;
  	top: 800px;
  	right: 755px;
	border: 1px solid #b7940d;
	font-size: 20px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
  }

  .reserva{
  	border:1px solid black;
  	margin: 80px;
  	margin-top: 20px;
  	width: 1130px;
  	height: 690px;
  }
  	
  .nombre{
  	position: absolute;
	top:400px;
	right: 510px;
	font-size: 20px;
  }
  .name{
  	position: absolute;
  	top: 430px;
  	right: 200px;
  	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
  }
  .correo{
  	position: absolute;
	top:480px;
	right: 525px;
	font-size: 20px;
  }
  .email{
  	position: absolute;
  	top: 510px;
  	right: 200px;
  	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
  }

  .documento{
 	position: absolute;
	top:570px;
	right: 523px;
	font-size: 20px;
 	}

  .cedula{
  	position: absolute;
  	top: 600px;
  	right: 200px;
 	border: 1px solid #b7940d;
	font-size: 22px;
	font-family: Verdana;
	padding-left: 2px;
  	padding-right: 2px;
  	padding-top: 4px;
  	border-radius: 20px;
  	width: 400px;
 	}

 	.reservar{
 		position: absolute;
 		font-family: Verdana;
 		font-size: 18px;
 		top: 790px;
 		right: 320px;
 		border:1px solid #b7940d;
  		border-radius: 20px;
  		padding: 10px;
  		width: 150px;
 	}
 	.text{
 		position: absolute;
 		top: 300px;
 		right: 770px;
 		font-size: 25px;
 		font-style: oblique;
 		font-weight: bold;
 	}
 	.text2{
 		position: absolute;
 		top: 300px;
 		right: 220px;
 		font-size: 25px;
 		font-style: oblique;
 		font-weight: bold;
 	}

