 .imagenes {
width: 10%;
height: 10%;

 }

 .parrafo {
 	position: relative;
 	top: -220px;
 	right: -300px;
 }

 .bonoRegalo {
 	position: relative;
 	top: -240px;
 	right: -300px;
 }

 .fieldset {
 	padding: 25px;
 }